@media print {
  .ocultoimpresion,
  .ocultoimpresion * {
    display: none !important;
  }
  .titlePotrero,
  titlePotrero * {
    display: block ruby !important;
    font-size: 24px;
    width: 100%;
  }
  canvas{
      margin: auto -10%;
  }
}

.printDetail {
  margin-top: auto 100px;
}

.titlePotrero,
titlePotrero * {
  display: block ruby !important;
  font-size: 24px;
  margin-bottom: 10px;
  width: 100%;
}

.detailAssist button {
  margin-bottom: 15px !important;
}

.detailAssist .genAsist a button {
  display: none;
}

.detailAssist .table .thead-dark tr th {
  border: black 1px solid;
  background-color: #492bc4 !important;
}

.detailAssist .table tbody tr th {
  border: black 1px solid;
  font-weight: lighter;
}

.detailAssist .table tbody tr td {
  border: black 1px solid;
}

.detailAssist .table {
  color: #212529;
  margin: auto;
  width: 70%;
}

.detailAssist h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.detailAssist button {
  background-color:  #492bc4 !important;
}

.detailAssist button:hover{
  border-color: #492bc4;
  border-width: 2px;
  background-color: white !important;
  color: #492bc4;
}

.detailAssist a {
  background-color: #492bc4;
  color: white;
}

.detailAssist a:hover{
  border-color: #492bc4;
  border-width: 2px;
  background-color: white;
}

.printDetail div a button {
  display: none;
}
.titlePotrero {
  display: block ruby !important;
}

.titlePotrero img {
  margin-top: -12px; 
}

.marginAlto {
  margin-top: 70px;
}

.marginTop {
  margin-top: 50px;
}
