@media print {
  .ocultoimpresion,
  .ocultoimpresion * {
    display: none !important;
  }
  .titlePotrero,
  titlePotrero * {
    display: ruby !important;
    font-size: 24px;
    margin-bottom: 10px;
    width: 100%;
  }
  canvas{

      margin: auto -10%;
  }
}

.printDetail{
    margin-top: auto 100px;
}

.printDetail div a button{
    display: none;
}
.titlePotrero{
  display: ruby;
}

.titlePotrero img{
  margin-top: -15px;
}
