@media print {
  .ocultoimpresion,
  .ocultoimpresion * {
    display: none !important;
  }
  .oculto{
      visibility: visible;
  }
}
.oculto{
    visibility: hidden;
}

.visible{
    visibility: visible;
}

.printDetail{
    margin-top:100px
}

.printDetail div a button{
    display: none;
}
