.botonMateria{
    display: inline-flex;
    width: 150px;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    border: solid 0.1px gray;
    margin-top: 25px;
    align-items: center;
    justify-content: center;
    
}

.botonMateria:hover{
    cursor:pointer;

}

.botonMateria:active{
    color:white;
}

.contenedorMateria{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}    

.botonEnviar {
    background-color: #492BC4 !important;
    color: white !important;
}