.contenedor {
    display: flex;
}

.integrantes {
    width: 40%;
    border: 2px solid black;
}

.personas {
    display: inline;
    border: 2px solid black;
    border-radius: 50%;
}

.botones {
    display: inline;  
}