.contenedor {
    display: flex;
}

.integrantes {
    width: 40%;
    border-right: 2px solid rgb(235, 235, 235);
}

.personas {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin: 15%;
    border: 2px solid rgb(235, 235, 235);
    border-radius: 50%;
    outline: none;
}

.circulos{
    display: flex;
    align-items: center;
    justify-content: center;
}


.botones{
    display: flex;
    justify-content: center;
}

.photo {
    height: 190px;
    width: 190px;
    object-fit: cover;
    border-radius: 50%;
}


