.container {
    position: relative;
    width: 1360px;
    height: 745px;
    margin: 0 auto;
    margin-top: 70px;
    border: 1px solid #E1E1E1;
    display: flex;
    
}

.leftArrow {
    position: absolute;
    top: 45px;
    left: 35px;
    width: 40px;
    fill: #492BC4;
}

.leftArrow:hover {
    position: absolute;
    top: 45px;
    left: 35px;
    width: 40px;
    fill: #492BC4;
    cursor: pointer;
}


.formContainer {
    padding: 55px 70px 55px 70px;
    /* background-color: green; */
    width: 510px;
}

.logo {
    height: 175px;
    width: 370px;
    object-fit: cover;

}


.form {
    position: relative;
    -webkit-box-shadow: 0px 3px 12px -7px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 0px 3px 12px -7px rgba(0, 0, 0, 0.65);
    box-shadow: 0px 3px 12px -7px rgba(0, 0, 0, 0.65);
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 15px;
    text-align: left;
    /* background-color: yellow; */
    width: 380px;
    height: 445px;
    padding: 50px 35px 50px 10px;
}



.title {
    color: #333333;
    font-weight: 700;
}


.label {
    /* visibility: hidden; */
    margin-top: 25px;
    color: #333333b7;
    font-weight: 400;
    font-size: 13px;
}


.input {
font-size: 14px;
color: #3333339f;
font-weight: 600;
padding: 0px 0px 7px 28px;
width: 300px;
margin-bottom: 15px;
border: none;
border-bottom: 2px solid #3333331f;
}

.input::-webkit-input-placeholder {
    font-size:14px;
    font-weight: 300;
}


input:focus {
    outline: none;
    border-bottom: 2px solid #8bc63ebe;
}

.at {
    position: absolute;
    left: 40px;
    bottom: 273px;
    fill: #33333350;
}

.check {
    position: absolute;
    right: 40px;
    bottom: 275px;
    fill: #8bc63edc;
}

.passVisibility {
    position: absolute;
    right: 40px;
    bottom: 227px;
    fill: #33333346;
}

.passVisibility:hover {
    cursor: pointer;
}

.showPass {
    position: absolute;
    right: 40px;
    bottom: 227px;
    fill: #8bc63edc;
}

.showPass:hover {
    cursor: pointer;
}



.securePass {
    position: absolute;
    left: 40px;
    bottom: 227px;
    fill: #33333350;
    transform: rotate(130deg);
}


.passInput {
    font-size: 16px;
    color: #333333b7;
    font-weight: 300;
    padding: 0px 0px 5px 28px;
    width: 300px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #3333331f;
}



.passInput::-webkit-input-placeholder {
    font-size: 14px;
}


.passInput:focus {
    outline: none;
    border-bottom: 2px solid #8bc63ebe;
}


.image {
    position: relative;
    display: block;
    width: 100%;
    height: 745px;
    
}



.textContainer{
    text-align: left;
    position: absolute;
    bottom: 35px;
    right:280px;
    z-index: 2;
}

.oQuote {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 80px;
    margin-bottom: -75px;
}

.cQuote {
    position: absolute;
    top: 49px;
    left: 246px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 80px;
    margin-bottom: -75px;
    transform: rotate(180deg);
}

.paraph {
    text-indent: 50px;
    margin-top: 0;
    font-weight: 200;
    font-size: 25px;
    width: 500px;
    color: white;
}

.author {
    /* text-indent: 200px; */
    margin-top: 0;
    font-weight: 100;
    font-size: 20px;
    width: 500px;
    color: white;
}

.dot {
    position: relative;
    left: 670px;
    top: -47px;
    color: white;
}

.dot:hover {
    position: relative;
    left: 670px;
    top: -47px;
    color: white;
    cursor: pointer;
}

.button {
    font-size: 16px;
    font-weight: 300;
    margin-top: 18px;
    margin-left: 14px;
    width: 200px;
    height: 50px;
    background: none;
    color: white;
    text-align: left;
    padding: 3px 23px 2px 23px;
    border: none;
    border-radius: 25px;
    background-color: #492BC4;  
}

button:hover {
    background-color: #5736db;
    
}

.disButton {
    font-size: 16px;
    font-weight: 300;
    margin-top: 18px;
    margin-left: 14px;
    width: 200px;
    height: 50px;
    background: none;
    color: white;
    text-align: left;
    padding: 3px 23px 2px 23px;
	border: none;
    border-radius: 25px;
    background-color: #c2c2c2;
}

.disButton:hover {
    background-color: #c2c2c2;
}



.rightArrow {
    margin-left: 20px;
    width: 30px;
    fill: rgba(255, 255, 255, 0.849);
}

.resetPassword {
    color: #55478dbd;
    display: block;
    margin-left: 14px;
    margin-top: 35px;
    font-weight: 600;
    font-size: 12px;
}

.resetPassword:hover {
    color: #55478dbd;
    display: block;
    margin-left: 14px;
    margin-top: 35px;
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
}