input:checked ~ label {
    background: #492BC4;
    color: white;
  }

#strengthInput input:checked ~ label {
    background: #8CC63E;
    color: white;
  }

#weaknessInput input:checked ~ label {
    background: #c63e3e;
    color: white;
  }